
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	outline: none;
	font-family:  sans-serif;

}
body{
	background: #dfdfdf;
}
.container{
	display: flex;
	max-width: 600px;
	height: 350px;
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
}
.container .left,
.container .right{
	max-width: 200%;
	height:100%;
	padding: 30px;
}
.container .left{
	background-image: url("leftBG.jpg");
	width: 400px;

}
.container .left h3{
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 3px;
	color: white;
	font-weight: bold;
	font-size: 25px;
}
.container .right{
	background-color: #fff;
	width: 300px;

}
.wrapper .right .tabs ul {
	text-align: center;

}
.container .right .tabs ul li{
	display:  inline-block;
	margin: 5px;
	padding: 5px 10px;
	font-size: 15px;
	color: #494f57;
	letter-spacing: 2px;
	cursor:pointer;
}
.container .right .tabs ul li.active{
	border-bottom: 2px solid #494f57;
}
.container .right .register, 
.container .right .login{
	margin-top: 20px;
}
.container .right .input-field{
	margin-bottom: 15px;
}
.container .right .input-field .input{
	width: 100%;
	padding: 10px 15px;
	border:0;
	font-size:12px;
	background: #ecebeb;
}
.container .right .btn{
	margin-top: 20px;
	background: #494f57 ;
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;

}
.container .right .btn a {
	color: #fff;
}