 #title{
 	text-shadow: 6px gray;
 	color: white;
 	font-weight: bold;
 	font-size: 40px;
 	text-decoration: underline;
 	text-align: center;
 }
#pre2{
 	margin-top: 60px;
 	background:rgb(138,43,226,0.7);
 	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.6), 0 6px 15px 0 rgba(0, 0, 0, 0.9);
 }
 
 #quotes{
 	max-width: 800px;
 	margin:0 auto;
 background-image: url("images/quote.png");
 background-repeat: no-repeat;
 	background-size: 100%;
	width: 800px;
	height: 400px;
	animation:  mymove 1s;
	animation-timing-function: linear;
	margin-left:350px;
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border: 3px solid white;
 }
#quote{
	margin-top: 18px;/*
background-image: url("images/quote.jpg");*/
	text-align: center;
 	text-shadow: 6px gray;
 	color: white;
 	font-weight: bold;
 	font-size: 30px;

}
 
.wrapper{
	display: none;
}
#viewProfile{
	display: none;
	margin: auto;
	margin-top: 5px;
	background: teal;
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	color : white;
	width: 205px;
	margin-left: 1300px;
	border-radius: 10px;
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
 #profile{
 	display: flex;
 	margin: 0 auto;
 	border-radius: 10px;
 	width: 900px;
 	height: 500px;
 	background-image: url("images/leftBG.jpg");
 	background-repeat: no-repeat;
 	background-size: 100%;
 	margin-top: 70px;
box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }
 #profPic{
 	width: 350px;
 	height: 300px;
 	margin-top: 20px;

 }
 #info{

 	
 	width: 550px;
 	
 	border-radius: 3px;
 }
 #info1, #info2,#name, #prog{
 	margin-top: 18px;
	background:rgb(0,128,128,0.3);
	text-align: center;
 	text-shadow: 6px gray;
 	color: white;
 	font-weight: bold;
 	font-size: 30px;
 }
 #info3{
 	margin-top: 18px;
	background:rgb(0,128,128,0.3);
	text-align: center;
 	text-shadow: 6px gray;
 	color: white;
 	font-weight: bold;
 	font-size: 20px;
 }
 #prog,#great{
 	margin-top: 20px;
	background : rgb(255,250,250,0.5);
	text-align: center;
 	text-shadow: 6px gray;
 	color: mediumblue;
 	font-weight: bold;
 	font-size: 30px;
 }
 #profilePic{
 	background-color: teal;
 	width: 350px;
 	height: 500px;
 	border-radius: 3px;
 }
#accepted{

	background-image: url('images/bg1.jpg');
	display: none;
	max-width: 900px;
	height: 400px;
	position: absolute;
	top:50%;
	left:50%;
	animation:  mymove 1s;
	animation-timing-function: linear;
	transform: translate(-50%, -50%);
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border: 3px solid white;
}
#accepted h3,h4,h5{
	margin-top: 20px;
	background:rgb(0,128,128,0.3);
	text-align: center;
 	text-shadow: 6px gray;
 	color: white;
 	font-weight: bold;
 	font-size: 30px;

}
#accepted h3{
	color: teal;
	font-size: 40px;
	background:none;
}
#accepted h5{
	color: teal;
	font-size: 30px;
	background:rgb(255,255,255,0.4);
}
#home, #home2{
	margin: auto;
	margin-top: 50px;
	background: teal;
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	color : white;
	width: 205px;
	margin-left: 300px;
	border-radius: 10px;
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
 #sign-in{
 	margin-top: 40px;
	background: mediumslateblue;
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	color : white;
	width: 205px;
	margin-left: 1300px;
	border-radius: 10px;
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }

#sign-out{
	display: none;
 	margin-top: 30px;
	background: mediumslateblue;
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	color : white;
	width: 205px;
	margin-left: 1300px;
	border-radius: 10px;
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }
 .secondPage {
 	display: none;
 }

 .challenge{
 	display: none;
 	margin: 0 auto;
 	border-radius: 10px;
 	width: 900px;
 	height:600px;
 	background-image: url("images/leftBG.jpg");
 	background-repeat: no-repeat;
 	background-size: 100%;
 	margin-top: 70px;
box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }
 .pic{
 	width: 500px;
 	height: 300px;
 	margin-top: 20px;
 }

#accept{
	color: white;
 	font-weight: bold;
 	border-radius: 6px;
 	width: 100px;
 	height: 40px;
 	font-size: 20px;
 	background-color: darkblue;
 
 	margin-left: 170px;
 	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 2px 0 rgba(0, 0, 0, 0.10);
}
.challenge h3{
	text-align: center;
 	text-shadow: 6px gray;
 	color: white;
 	font-weight: bold;
 	font-size: 30px;
}
#chal{
	text-align: center;
 	text-shadow: 6px gray;
 	color: white;
 	font-weight: bold;
 	margin-top: 10px;
 	margin-bottom: 15px;
 	font-size: 30px;
}
#decline{
	color: white;
 	font-weight: bold;
 	border-radius: 6px;
 	width: 100px;
 	height: 40px;
 	font-size: 20px;
 	background-color: purple;
 	
 	margin-left: 300px;
 	 	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 2px 0 rgba(0, 0, 0, 0.10);
}
 .welcome{
 	/*display: inline;*/
 	text-align: center;
 	background-color: 	mediumpurple;
 	color:white;
 	font-family: all;
 	font-weight: bold;
 	width: 900px;
 	border-radius: 5px;
 	margin: 0 auto;
 	margin-top: 10px;
 }
 .page2{
 	background-image: url('images/bg1.jpg');
 	background-size: 100%;
 	margin: auto;
 	margin-top: -30px;
 }

 .choices{
 	margin: 0 auto;
 	border-radius: 10px;
 	width: 900px;
 	height: 500px;
 	background-image: url("images/leftBG.jpg");
 	background-repeat: no-repeat;
 	background-size: 100%;
 	margin-top: 70px;
box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }
 .choices h3{
 	text-align: center;
 	text-shadow: 3px gray;
 	color: white;
 	font-weight: bold;
 	margin-top: 50px;
 	font-size: 30px;
 	
 	 }
 #perso{
 	color: white;
 	font-weight: bold;
 	border-radius: 6px;
 	width: 300px;
 	height: 120px;
 	font-size: 30px;
 	background-color: mediumseagreen;
 	margin-top: 70px;
 	margin-left: 30px;
 	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }


 #social{
 	color: white;
 	font-weight: bold;
 	font-size: 30px;
 	border-radius: 6px;
 	width: 300px;
 	height: 120px;
 	background-color: mediumseagreen;
 	
 	margin-left: 200px;
 	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }


*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	outline: none;
	font-family:  sans-serif;

}
body{
	background: #dfdfdf;
}
@keyframes mymove {
  from {top: 0px;}
  to {bottom: 100px;}
}
.container{
	display: flex;
	max-width: 900px;
	height: 400px;
	position: absolute;
	top:50%;
	left:50%;
	animation:  mymove 1s;
	animation-timing-function: linear;
	transform: translate(-50%, -50%);
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container .left,
.container .right{
	max-width: 200%;
	height:100%;
	padding: 30px;
	border-radius: 4px;
}
.container .left{
	background-image: url("images/leftBG.jpg");
	width: 400px;

}
.container .left h3{
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 3px;
	color: white;
	font-weight: bold;
	font-size: 25px;
	margin-top: 60px;

}
.container .right{
	background-color: #fff;
	width: 300px;

}
.container .right .tabs ul {
	text-align: center;

}
.container .right .tabs ul li{
	display:  inline-block;
	margin: 5px;
	padding: 5px 10px;
	font-size: 15px;
	color: #494f57;
	letter-spacing: 2px;
	cursor:pointer;
}
.container .right .tabs ul li.active{
	border-bottom: 2px solid #494f57;
}
.container .right .register, 
.container .right .login{
	margin-top: 20px;
}
.container .right .input-field{
	margin-bottom: 15px;
}
.container .right .input-field .input{
	width: 100%;
	padding: 10px 15px;
	border:0;
	font-size:12px;
	background: #ecebeb;
}
.container .right .btn button{
	margin-top: 20px;
	background: teal;
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	color : white;
	width: 205px;
	margin-left: 5px;
	border-radius: 10px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  text-align: center;
  background-color: slategray;
  color: white;
  text-align: center;
  font-weight: bold;
}